.tilesGrid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px);
}

.btnStyles {
    cursor: pointer;
    height: 5.3rem;
    width: 5.5rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: black 1px 1px;
    border: solid 2px #F24E5D;
    border-radius: 10% ;
    background: linear-gradient(360deg, rgba(247, 101, 4, 0.986) 5%, rgba(255,201,0,1) 100%);
    margin: 10px 0 10px 0
}

.btnSelected {
    height: 5.3rem;
    width: 5.5rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: black 1px 1px;
    border: solid 2px;
    border-radius: 10% ;
    background: linear-gradient(360deg, rgba(143, 22, 1, 0.986) 5%, rgb(221, 36, 4) 100%);
    margin: 10px 0 10px 0
}

.btnStyles:hover
{
    background: linear-gradient(360deg, rgba(143, 22, 1, 0.986) 5%, rgb(221, 36, 4) 100%);
    border: #b9f24e;
    opacity: 1;
    transition: 0.5s ease-in;
}

@media only screen and (max-width: 640px) {
    .tilesGrid .btnStyles {
        font-size: 3.5rem;
    }
    .tilesGrid .btnStyles:hover
     {
        background: linear-gradient(360deg, rgba(2, 102, 2, 0.986) 2%, rgb(42, 224, 6) 80%);
    }
    .btnSelected {
        height: 5.3rem;
        width: 5.5rem;
        font-size: 3.5rem;
        font-weight: bold;
        color: #FFFFFF;
        text-shadow: black 1px 1px;
        border-radius: 10% ;
        background: linear-gradient(360deg, rgba(2, 102, 2, 0.986) 2%, rgb(42, 224, 6) 80%);
        margin: 10px 0 10px 0
    }
  }

.clearButtonContainer {
    display: flex;
    justify-content: flex-end;
    transform: translate(-20.5rem, 22rem);
}

@media only screen and (max-width: 640px) {
    .clearButtonContainer {
        padding-top: 2rem;
        margin-right: -13rem;
    }
  }

.clearWord {
    color: lightgray;
}

.clearBtn, 
.clearBtn:hover
{
    background-color: lightgray;
    border-radius: 60%;
    padding: 0.5rem;
    color: #ffff;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: -2rem;
    margin-top: -1.5rem;
}

